canvas {
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.game-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.instructions {
    max-width: 350px;
    background: rgba(255, 255, 255, 0.1);
    padding: 0px 15px 5px 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 10px 5px;
    vertical-align: middle;
    text-align: left;
}

.icon {
    font-size: 30px;
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgb(56, 56, 56);
    padding: 0px 50px 20px 50px;
    box-shadow: 5px 5px 10px 10px rgba(0, 0, 0, 0.8);
    text-align: center;
    border-radius: 10px;
    z-index: 999;
}
.modal input {
    width: 80%;
    padding: 5px;
    margin: 0px auto 10px;
}
.modal button {
    background-color: #299242;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: larger;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.40);
}
.modal button:hover {
    background-color: #29c04c;
}
.modal button:active {
    background-color: #299242;
    transform: translateY(2px);
  }

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(1.5px);
    z-index: 998;
}