canvas {
    background-color: rgba(0, 0, 0, 0.8);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
}

.game-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.instructions {
    max-width: 350px;
    background: rgba(255, 255, 255, 0.1);
    padding: 0px 15px 5px 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse; /* Keine Linien zwischen den Zellen */
}

td {
    padding: 10px 5px;
    vertical-align: middle;
    text-align: left;
}

.icon {
    font-size: 30px;
    margin-right: 10px; /* Abstand zwischen Symbol und Text */
}